#header {
  padding: 10px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #f3f3f3;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.05));
}
#header .container .row > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-link {
  color: #fe0000;
}

.nav-link:hover {
  color: #fe0000;
}

.header-btn {
  justify-content: center;
}
.header-btn-group {
  background: #f3f3f3;
  border-radius: 7px;
  padding: 5px;
  max-width: max-content;
}
.header-btn-group .btn-active {
  background: #fe0000 !important;
  color: #fff;
}
.header-links {
  justify-content: space-between;
}
.header-links i {
  cursor: pointer;
}
.header-btn-group .btn {
  height: unset;
  padding: 10px 20px;
}
.header-links .cart-dropdown {
  position: relative;
}
.cart-icon {
  cursor: pointer;
}
span.cart-count {
  font-size: 10px;
  background: #fe0000;
  color: #fff;
  position: absolute;
  top: -6px;
  right: -8px;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 100%;
}

.header-cart {
  width: 350px;
  animation: cartDropdown 0.3s forwards;
  position: absolute;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  top: 40px;
  transform: translateX(60px);
}

@keyframes cartDropdown {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 991px) {
  header#header .row > div:nth-child(1),
  header#header .row > div:nth-child(2) {
    width: 50%;
    text-align: center;
  }

  header#header .row > div.header-brand img {
    max-width: 200px;
  }

  .header-btn {
    text-align: right;
  }

  .header-btn-group {
    margin-left: auto;
  }

  header#header .row > div:nth-child(3),
  header#header .row > div:nth-child(5) {
    width: 50%;
    justify-content: space-evenly;
    margin-top: 13px;
  }
  header#header {
    padding-top: 0%;
  }
  header#header:after {
    background: #fff;
    border-top: solid 1px #efef;
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  header#header .row > div:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  header#header .row > div:nth-child(1),
  header#header .row > div:nth-child(2) {
    width: 50%;
    text-align: center;
    margin: 10px 0;
  }
  .header-btn-group {
    max-width: min-content;
  }
  header#header .row > div.header-brand img {
    margin-bottom: 10px;
  }
  .header-cart {
    width: calc(100vw - 20px);
    animation: cartDropdown 0.3s forwards;
    position: fixed;
    right: 5px;
    transition: 0.3s;
    opacity: 0;
    top: 173px;
    transform: translateX(60px);
  }
}
