.main-cart {
  margin-top: 60px;
  font-size: 17px;
  font-weight: 500;
  line-height: 41px;
}

.main-cart .total {
  font-size: 22px;
  color: #fe0000;
}
.main-cart.cart-box h3 {
  font-size: 26px;
  line-height: 160%;
}
form#checkoutForm .cart-box {
  margin-top: 24px;
}
.cart-box {
  background: #fff;
  border: 1px solid whitesmoke;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 12%);
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}
.cart-box .cart-products {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.cart-box .cart-products img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: solid 1px #f3f3f3;
}
.cart-box h3 {
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
}
.cart-box .cart-products .cart-product {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: solid 1px #efefef;
}

.cart-box .cart-products .cart-product > div {
  padding-left: 10px;
  max-width: 80%;
}

.cart-box .cart-products .cart-product > div h3 {
  font-size: 19px;
  color: #000;
  margin-bottom: 0px;
  line-height: 120%;
}

.cart-box .cart-products .cart-product p {
  font-size: 16px;
  margin-bottom: 0;
}
.cart-box .cart-products .cart-product p .price {
  color: #fe0000;
  margin-right: 10px;
}
