ul.pagination li .page-link {
  color: #737373;
  background: transparent;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 8px;
  border-radius: 4px;
  font-size: 18px;
  border: none;
}
ul.pagination li a {
  cursor: pointer;
}
ul.pagination {
  flex-wrap: wrap;
}
ul.pagination li .page-link:hover,
ul.pagination li .page-link.active {
  background: #f3f3f3;
  color: #000;
}
