div#sidebar {
  background: #fe0000;
}
div#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div#sidebar ul li a {
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: block;
  border-bottom: solid 1px #efefef;
}
