._loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.form-control:focus,
.btn,
.form-control {
  border-radius: 7px;
  border: none;
  box-shadow: none;
  background: #f3f3f3;
  color: #737373;
  outline: none;
  box-shadow: none;
  padding: 15px 20px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.form-control--invalid {
  border: solid 1px #fe0000;
}
.form-control:focus,
.btn-primary:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary:focus {
  background-color: #fe0000;
}
.form-group {
  margin-bottom: 10px;
}
.text-right {
  text-align: right;
}
.form-group p.error-text {
  color: #fe0000;
  font-size: 12px;
  margin-bottom: 0px;
}
.modal .btn-group {
  width: 100%;
  margin-bottom: 30px;
}

.btn-group button {
  padding: 20px 20px;
  font-size: 21px;
}
.bg-primary,
.btn-primary,
.theme-primary {
  color: #fff;
  background-color: #fe0000;
  border-color: #fe0000 !important;
}
.btn-primary:active,
.btn-primary:hover {
  color: #fff;
  background-color: #fe0120;
  border-color: #fe0120;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
  margin-bottom: 16px;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #484848;
  margin-bottom: 32px;
}
.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/*Rafay*/
section.home-sec-one {
  padding-bottom: 60px;
  padding-top: 60px;
}

section.home-sec-one .col-md-6:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

section.home-sec-one .col-md-6 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

section.home-sec-one .col-md-6 h3:before {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  position: absolute;
  bottom: -22px;
  background: #fe0000;
}

.row.RRone {
  border-bottom: 3px solid #f3f3f3;
}

section.home-sec-one .col-md-6:nth-child(2) a:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #737373;
  margin-right: 35px;
}

.row.RRtwo {
  padding-top: 50px;
}

.c-box {
  text-align: center;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  border: 1px solid whitesmoke;
  padding-bottom: 30px !important;
  background-color: #ffffff;
}

.c-box .figure {
  text-align: left;
  width: 100%;
}

.c-box .figure img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.c-box .ctn {
  display: flex;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  background-color: #ffffff;
  padding-top: 18px;
}

.c-box .ctn p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.c-box h4 {
  text-align: center;
  background: #ffffff;
}

.c-box h4 a {
  font-style: normal;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.col-md-4 {
}

.c-box .ctn p:nth-child(1) {
  margin-right: auto;
}

.row.RRtwo .brand {
  position: absolute;
  top: 157px;
  left: 50%;
  border-radius: 100px;
  z-index: 999;
  border: 1px solid whitesmoke;
  transform: translateX(-50%);
}

.row.RRtwo .brand img {
  object-fit: cover;
  border-radius: 100px;
  background: #ffffff;
}

.c-box .ctn p span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #232f3e;
  text-transform: capitalize;
}

.row.twoS-two {
  margin-top: 60px;
}

.row.twoS-two .figure {
}

.row.twoS-two .figure img {
  width: 100%;
  object-fit: cover;
  height: 339px;
}

section.home-sec-two {
  padding-bottom: 60px;
  padding-top: 60px;
}

.prd-cBox {
  position: relative;
  background: #ffffff;
  border: 1px solid whitesmoke;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
}

.prd-cBox .wishlist-icon {
  position: absolute;
  z-index: 999;
  left: 250px;
  top: 20px;
}
.wishlist-icon img {
  cursor: pointer;
}
.ctn-p {
  padding-top: 20px;
}

.ctn-p h3 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #232f3e;
}

.innerctn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerctn h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fe0000;
  margin-right: 7px;
}

.innerctn h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #737373;
  line-height: 22px;
  margin-left: 7px;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
}

section.home-sec-two .col-md-6:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

section.home-sec-two .col-md-6 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

section.home-sec-two .col-md-6 h3:before {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  position: absolute;
  bottom: -22px;
  background: #fe0000;
}

section.home-sec-two .row.RRone {
  border-bottom: 3px solid #f3f3f3;
}

section.home-sec-two .col-md-6:nth-child(2) a:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #737373;
  margin-right: 35px;
}
section.home-sec-three .col-md-6:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

section.home-sec-three .col-md-6 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

section.home-sec-three .col-md-6 h3:before {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  position: absolute;
  bottom: -22px;
  background: #fe0000;
}

section.home-sec-three .row.RRone {
  border-bottom: 3px solid #f3f3f3;
}

section.home-sec-three .col-md-6:nth-child(2) a:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #737373;
  margin-right: 35px;
}

section.home-sec-three {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tag-f {
  position: absolute;
  border: 1px solid #000000;
  border-radius: 17px;
  padding: 4px 10px;
  background-color: #000000;
  top: 24px;
  left: 25px;
}

.tag-f p {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #000000;
}

section.homeSec-four {
  padding-bottom: 60px;
  padding-top: 60px;
}

section.homeSec-four {
}

section.homeSec-four p {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding-left: 40px;
}

section.homeSec-four h3 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-left: 40px;
  margin-bottom: 40px;
}

section.homeSec-four a {
  text-decoration: none;
  background: #fe0000;
  margin-left: 40px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 12px 30px;
}

.coldiv {
  padding-top: 70px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.col-md-6 {
}

section.home-Sec-five {
  padding-bottom: 60px;
  padding-top: 60px;
}

section.home-Sec-five .col-md-6:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

section.home-Sec-five .col-md-6 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

section.home-Sec-five .col-md-6 h3:before {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  position: absolute;
  bottom: -22px;
  background: #fe0000;
}

.row.RRone {
  border-bottom: 3px solid #f3f3f3;
}

section.home-Sec-five .col-md-6:nth-child(2) a:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #737373;
  margin-right: 35px;
}
section.home-Sec-five .col-md-6 {
  margin-top: 60px;
}

.testimonial-box {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 40px;
}

.testimonial-figure {
  display: flex;
}

.testimonial-figure img {
  width: 58px;
  height: 58px;
}

.T-fig-ctn {
  margin-left: 15px;
  margin-top: 8px;
  position: relative;
}

.T-fig-ctn h4 {
  font-size: 22px;
  line-height: 22px;
  color: #232f3e;
  font-weight: 700;
}

.T-fig-ctn h5 {
  font-size: 12px;
  line-height: 22px;
  color: #232f3e;
}

.testimonial-box p {
  font-size: 18px;
  line-height: 26px;
  color: #737373;
}

.T-fig-ctn img {
  position: absolute;
  right: -350px;
  top: -30px;
  width: 100%;
  height: 80px;
}

.vid-box {
  position: relative;
}

.vid-box img {
  width: 100%;
  object-fit: cover;
}

.vid-butn {
  position: absolute;
  top: 45%;
  left: 45%;
}

.vid-butn img {
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h3 {
  font-size: 25px;
  line-height: 19px;
  color: #040404;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 50px;
}

footer h3 img {
  margin-right: 20px;
  margin-top: 12px;
}

footer .col-md-4 h3:before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: #fe0000;
  position: absolute;
  bottom: -6px;
  left: 46px;
}

footer .col-md-4 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #737373;
}

footer .col-md-2 {
  padding-left: 40px;
}

footer .col-md-2 h3:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #fe0000;
  position: absolute;
  bottom: -22px;
}

footer .col-md-2 ul {
  padding-left: 0px;
  list-style: none;
}

footer .col-md-2 li {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 43px;
  color: #737373;
  text-transform: capitalize;
}

.col-md-3.last h3:before {
  bottom: -21px;
  width: 43px;
  left: 2px;
}

.footer-gallery {
  display: flex;
}

.footer-gallery img {
  margin-right: 20px;
  margin-top: 20px;
}

.row.foot-Rone {
  background: #040404;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

.row.foot-Rone .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.ul-N li {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-left: 50px;
}

ul.ul-N {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

ul.ul-Sicons {
  padding-right: 0px;
  list-style: none;
  display: flex;
  margin-bottom: 0px;
}

ul.ul-Sicons li {
  margin-left: 15px;
}

ul.ul-Sicons li i {
  width: 40px;
  padding: 8px 0px;
  font-size: 24px;
  color: #ffffff;
  background-color: #fe0000;
  text-align: center;
  border-radius: 6px;
}
.row.twoS-two .figure {
  position: relative;
  display: block;
}
form.baner-form {
  background-color: #ffffff;
  width: 84%;
  padding: 11px 15px;
  border-radius: 8px;
}

form.baner-form input#email {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #737373;
  padding: 13px 15px;
  border-radius: 8px;
  border: 1px solid #ddd9d9;
  width: 80%;
  margin-right: 10px;
  position: relative;
}

form.baner-form input[type="submit"] {
  font-size: 14px;
  line-height: 16px;
  background: #fe0000;
  border-radius: 8px;
  border: #fe0000;
  padding: 12px 23px;
  color: #ffffff;
  text-transform: capitalize;
}

form.baner-form {
  position: relative;
}

.ser-icon {
  position: absolute;
  top: 31%;
  right: 26%;
}
