html,
body {
  overflow-x: hidden;
  padding: 0 !important;
}
html,
body,
h1,
h2,
h3.h4,
h5,
h6,
input,
button,
span,
p,
div,
section {
  font-family: "Gilroy";
}
a {
  text-decoration: none;
}
#root {
  min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fe0000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
