form.baner-form {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}
.geo-loc {
  position: relative;
}

.ser-icon {
  position: absolute;
  top: 12px;
  right: 10px;
}

.modal form.baner-form {
  padding: 0px;
}

.modal form.baner-form .row {
  display: block;
  position: relative;
}

.modal form.baner-form .row div[class^="col-"],
.modal form.baner-form .row div[class*=" col-"] {
  width: 100%;
  padding: 0 15px !important;
}

.modal form.baner-form .row input[type="submit"] {
  margin-top: 10px;
}
.autocomplete-dropdown-container:not(:empty) {
  position: absolute;
  top: 100%;
  z-index: 9999;
  border: solid 1px #dbdbdb;
  width: 100%;
}
.autocomplete-dropdown-container .suggestion-item--active,
.autocomplete-dropdown-container .suggestion-item {
  padding: 10px 20px;
  border-bottom: solid 1px #dbdbdb;
  font-weight: 500;
}
.autocomplete-dropdown-container .suggestion-item--active i,
.autocomplete-dropdown-container .suggestion-item i {
  margin-right: 10px;
}
.autocomplete-dropdown-container .suggestion-item--active i {
  color: #fe0000;
}
.get-address input {
  padding-right: 36px;
}
